@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
  color: white;
  user-select: none;
  -webkit-user-select: none;
}

/* Анимация золотого перелива для иконок и текста */
.gold-shimmer {
  background: linear-gradient(
    -45deg,
    #bf953f 0%,
    #fcf6ba 25%,
    #b38728 50%,
    #fbf5b7 75%,
    #aa771c 100%
  );
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shimmer 3s linear infinite;
}

/* То же самое, но для заливки SVG */
.gold-fill {
  fill: url(#goldGradient);
}

@keyframes shimmer {
  to {
    background-position: 200% center;
  }
}

/* Скрываем стандартный дизайн инпута цвета */
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
